<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285055789539-idlnbhbg17shatt60766oa9r2t3sndf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285055789539-idlnbhbg17shatt60766oa9r2t3sndf2</string>
	<key>API_KEY</key>
	<string>AIzaSyCoRdQ9p6VNrvpYafr5rF2LC9Ut0AfttFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>285055789539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melvinliu.MC-2</string>
	<key>PROJECT_ID</key>
	<string>embrace-mini-challenge-2</string>
	<key>STORAGE_BUCKET</key>
	<string>embrace-mini-challenge-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285055789539:ios:a8375b98918d2c1090d8d6</string>
</dict>
</plist>